{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>SoundGo</title>
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
            integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
            crossorigin="anonymous"></script>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <style>
        body {
            margin: 0;
            padding: 0;
        }


    </style>
</head>
<body>


    <div class="container-father">
            <div class="container-fill" >
            </div>
    </div>

  <!-- Modal Structure -->
  <div id="confirmationModal" class="modal">
    <div class="modal-content">
      <h4>SoundGo</h4>
      <p>{{ message }}</p>
    </div>
    <div class="modal-footer">
      <a href="{{ url }}" class="waves-effect waves-green btn-flat">Next</a>
    </div>
  </div>




<script>


    $(document).ready(function(){



        $('.modal').modal({
              dismissible: false, // Modal can be dismissed by clicking outside of the modal
        });

        $('.modal').modal('open');

     });


</script>

</body>
</html>